@page
@model MascotaFeliz.App.Presentacion.Pages.ListModel
@{
}
<h1>Aqui vamos a listar los clientes</h1>

<table class="table">

    @foreach (var cliente in Model.Clientes)
    {
        <tr>
            <td>@cliente.nombres</td>
            <td>@cliente.apellidos</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-clienteId="@cliente.Id">
                    <i class="fas fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-clienteId="@cliente.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-clienteId="@cliente.Id">
                    <i class="fas fa-trash" aria-hidden="true"></i>

                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Adicionar un Cliente</a>

