@page
@model MascotaFeliz.App.Presentacion.Pages.ListModel
@{
}
<h2>Lista de Mascotas</h2>
<table>
    <tbody>
        @foreach (var propietario in Model.Propietarios)
        {
            @foreach (var mascota in propietario.Mascotas)
            {
                <tr>
                    <td>@mascota.Id</td>
                    <td>@mascota.Nombre</td>
                    <td>@mascota.Tipo</td>
                    <td>@mascota.Raza</td>
                    <td>@propietario.Nombres @propietario.Apellidos</td>
                    <td class="p-1">
                        <form method="POST" class="form-inline" id="@mascota.Id">
                            <a class="btn btn-primary btn-sm mr-3" asp-page="/Propietarios/Details"
                        asp-route-mascotaId="@mascota.Id" asp-route-propietarioId="@propietario.Id"
                        data-toggle="tooltip" data-placement="right" title="Detalles">
                                <i class="fas fa-eye"></i>
                            </a>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


}